<div class="bake-image-wrapper">
  <a href="/cakes" class="one">
    <div class="overlay">
      <h2 class="cake-title">gâteaux</h2>
    </div>
  </a>

  <a href="/cookies" class="two">
    <div class="overlay">
      <h2 class="biscuit-title"> biscuits </h2>
    </div>
  </a>

  <a href="/muffins" class="three">
    <div class="overlay">
      <h2 class="muffin-title"> muffins </h2>
    </div>
  </a>

  <a href="/pies" class="four">
    <div class="overlay">
      <h2 class="tarte-title"> tarte </h2>
    </div>
  </a>
</div>
