<h1 class="bake-page-title">Contact Us</h1>

<div class="contact-us-wrapper">
  <div class="contact-form">
    <form method="post" action="https://formspree.io/jspeed8th@gmail.com" name="Jordan's Bakery & Co">
      <input class="subject" type="text" name="subject" placeholder='subject line', autocomplete= 'off'>
      <textarea class="body" name="body" placeholder="What would you like to say?"></textarea>
      <input class="email" type="text" name="email" placeholder='email address'>
      <input class="submit" type="submit">
    </form>
  </div>
</div>
