<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->
<div class="">
  <div class="jumbotron fade">
    <!-- <h1>c'est délicieux</h1> -->
    <div style="background-image: url(cakes/charlotte-royale.jpg); background-size: 100% 100%; width: 100px; height: 100px">

    </div>
  </div>

</div>
