/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import './_mixins.scss';

body {
   padding: 0;
   margin: 0;
   font-family: 'Lora', serif;
}

ion-icon {
  font-size: 30px;
  position: absolute;
  margin-left: 3vw;
  color: grey;
}

.cart-icon {
  margin-left: 6vw;
}

ion-icon:hover {
  color: #e8dedc;
  transition: .1s;
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-column-gap: 10px;
  background-color: #FFF;
}

.main_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.company_name, .main_links a {
  display: block;
  padding: 37px 0;
}

.company_name:hover,
.social_media .links:hover,
.logout a:hover {
  color: grey;
  transition: .1s;
}

.company_name:hover {
  background-image: linear-gradient(to right, #e8dedc, white);
}

.main_links .links:hover {
  transition: .2s;
  background-color: #e8dedc;
  color: white;
}

.links, .company_name {
  text-decoration: none;
  color: black;
}

.social_media .links {
  font-size: 12px;
}

.social_media {
  padding-top: 37px;
  word-spacing: 10px;
}

/* MOBILE RESPONSIVENESS */

@media only screen and (max-width: 600px) {
  .navbar {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .company_name {
    display: block;
    padding: 6px 0;
    padding-bottom: 15px;
    margin: 0 auto;
  }
  li, .social_media {
    padding: 0;
  }
}

.logout {
  position: absolute;
  top: 0;
  left: 95.5vw;
  font-size: 13px;
}

.logout a {
  text-decoration: none;
}

.footer-nav {
  display: block;
}

.footer-nav a {
  display: block;
}

footer {
  display: flex;
  background-color: #e8dedc;
  padding: 50px 0;
}

.footer-nav,
.hours,
.newsletter {
  width: 33.33vw;
  padding-left: 50px;
}

.footer-nav a:hover {
  color: grey;
}

.hours {
  text-align: center;
}

.newsletter input, .newsletter button {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.newsletter input {
  width: 15vw;
}

.newsletter button {
  background-color: #B6CEBA;
}

.sub-btn {
  background-color: green;
}
