// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './_mixins.scss';

.order-background {
  @include bake_background("background/order-background.jpg");
}

.order-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 10px;
  width: 75%;
  margin: 100px auto;
  border-radius: 15px;
  background-image: linear-gradient(-90deg, #cab2ae, white);
  box-shadow: 0 2px 3px #ccc;
}

.order-wrapper textarea{
  resize: none;
  width: 60%;
  padding: 5px;
  display: block;
  margin: 0 auto;
  border: none;
}

.bake-info {
  margin: 20px 0px 0px 50px;
}

.bake-info h2 {
  margin-bottom: 15px;
}

#order_comment {
  height: 100px;
}

.order-details {
}

.center-margin {
  margin: 15px auto;
  text-align: center;
}

.order-btn-ext {
  width: 75.1vw;
  margin-left: -66.8%;
}
