// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 10px;
  // padding-bottom: 0px;
  border: 1px dotted grey;
  width: 75%;
  margin: 100px auto;
  border-radius: 15px;
  background-image: linear-gradient(-90deg, #cab2ae, white);
}

.order-wrapper textarea{
  resize: none;
  width: 60%;
  padding: 5px;
  display: block;
  margin: 0 auto;
  border: none;
}

.bake-info {
  margin-left: 10px;
}

#order_comment {
  height: 100px;
}

.order-details {
}

.center-margin {
  margin: 15px auto;
  text-align: center;
}

.order-btn-ext {
  width: 75vw;
}
