// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10px;
  border: 2px solid green;
  width: 75%;
  margin: 100px auto;
  border-radius: 15px;
}

.order-wrapper textarea{
  resize: none;
  width: 60%;
  padding: 5px;
  display: block;
  margin: 0 auto;
  border: none;
}

#order_comment {
  height: 100px;
}

.order-details {
}

.center-margin {
  margin: 15px auto;
  text-align: center;
}
